/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
 @import "uikit/uikit.min";

 ::selection {
   background: #87cefa;
 }
 ::-moz-selection {
   background: #87cefa;
 }

 ul {
   padding: 0;

   li {
     list-style-type: none;
   }
 }

 #nav-bar {
   background-color: #4169e1 !important;
 }

 .uk-offcanvas-bar {
   background: #fff;

   * {
     color: #000 !important;
   }
 }
